<!DOCTYPE html>
<html>
<head><title>PROFINET設定</title></head>
<body>
  <h1>PROFINETスレーブ設定</h1>
  <form method="post">
    MACアドレス: <input name="mac"><br>
    Station Name: <input name="station_name"><br>
    IPアドレス: <input name="ip_address"><br>
    サブネットマスク: <input name="subnet_mask" value="255.255.255.0"><br>
    ゲートウェイ: <input name="gateway" value="192.168.10.1"><br>
    NIC選択:
    <select name="nic">
      <option value="eth-4">eth-4</option>
      <option value="eth-5">eth-5</option>
    </select><br>
    <input type="submit" value="送信">
    <button type="submit" name="search">検索</button>
  </form>
  <p>{{ message }}</p>
  {% if identify_result %}
    <h2>検索結果</h2>
    <pre>{{ identify_result }}</pre>
  {% endif %}
</body>
</html>
